<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

  <system.web>
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2" />
  </system.web>
  <appSettings>
    <add key="JoaquinaDental" value="data source=DESKTOP-ASDHSG5;Integrated Security=false;uid=JoaquinaDental;pwd=JoaquinaDental;persist security info=False;initial catalog=JoaquinaDental"/>
  </appSettings>
</configuration>
